
/* General */

.mx {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.mx iframe{
left:5%;
top:5%;
height:90%;
width:90%;
position:absolute;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 4.5rem;
  background-color: green;
}

body h5 {
  color:  #f5f5f5;
}

body p {
  color: 	#c0c0c0;
}

body a {
  color: #557754;
}

body a:hover {
  color: #2d3f2d;
}
