/*
-webkit-transition: all 0.5s linear;
-moz-transition: all 0.5s linear;
-o-transition: all 0.5s linear;
transition: all 0.5s linear;
*/


/* General */

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/* Frame */
.frame {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 100;
}

.frame.top {
  top: 0;
  left: 0;
  width: 100%;
}

.frame.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
}

.frame.left {
  top: 0;
  left: 0;
  height: 100%;
}

.frame.right {
  top: 0;
  right: 0;
  height: 100%;
}

@media (max-width: 766px) {
  .frame {
    display: none;
  }
}


/* Navbar */
.navbar-brand {
  float: left;
  margin: 0.5rem 0 0.5rem 2.5rem;
  padding: 0;
}

.navbar-brand h1 {
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.navbar-brand a:hover {
  text-decoration: none;
}

#menu-toggle {
  position: relative;
  background-image: url("https://media.giphy.com/media/5rmQdXUaAzutq/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif"); */
  float: right;
  margin: 0.5rem 2.5rem 0.5rem 0;
  padding: 0;
  border: none;
  z-index: 100;
}

#menu-toggle:hover {
  text-decoration: none;
}

#menu-toggle p {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem; /* Responsive font size */
  font-weight: bold;
  text-transform: uppercase;
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

@media (max-width: 766px) {
  #menu-toggle {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    margin: 0;
    z-index: 150;
  }

  #menu-toggle p {
    padding: 0.5rem;
  }
}

/* Navbar Menu */

.menu {
  width: 100vw;
  height: 100vh;
  display: none;
}

.menu.active {
  display: block;
}

@media (min-width: 767px) {
  .menu {
    padding: 2.5rem;
  }
}

#menu-nav-wrapper {
  background-image: url("https://media.giphy.com/media/5rmQdXUaAzutq/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif"); */
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 900;
}

@media (max-width: 766px) {
  #menu-nav-wrapper {
    position: fixed;
    min-height: 100vh;
    top: 0;
    left: 0;
  }
}

#menu-nav {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  text-align: center;
}

@media (max-width: 766px) {
  #menu-nav {
    height: 70vh;
  }
}

.menu-item {
  margin-top: 2.5rem;
}

.menu-item:first-child {
  margin-top: 0;
}

.menu-btn {
  padding: 2.5vh;
  background-color: #ffffff;
  color: #000000!important;
  font-size: 10vh; /* Responsive font size */
  font-weight: bold;
  text-transform: lowercase;
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

@media (max-width: 766px) {
  .menu-btn {
    font-size: 10vw;
  }
}

.menu-btn:hover {
  cursor: pointer;
  opacity: 0.5;
  /*
  background-color: #000000;
  color: #ffffff!important;
  text-decoration: none;
  mix-blend-mode: normal;*/
}

.menu-btn.active {
  background-color: #000000;
  color: #ffffff!important;
  text-decoration: none;
  mix-blend-mode: normal;
}

/* Switch Menu */

@media (min-width: 767px) {
  .switch-menu {
    position: fixed;
    height: 100%;
    z-index: 500;
  }

  /* Document Menu */
  #doc-nav {
    position: fixed;
    height: 100%;
    width: 2.5rem;
    padding: 0; /* TBD */
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
  }

  .doc-btn {
    margin: 0.5rem 0.2rem;
    border: 1px solid black;
    background: none;
  }

  .doc-btn.active {
    background-color: #f9eb0f;
  }

  /* Theme Menu */
  #theme-nav {
    position: fixed;
    height: 100%;
    width: 2.5rem;
    padding: 0; /* TBD */
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
  }

  .theme-btn {
    border: none;
    background: none;
  }

  .theme-btn.active {
    background-color: #f9eb0f;
  }

  .theme-icon {
    padding: 0; /* TBD */
    width: 1.5rem;
  }
}

@media (max-width: 766px) {
  .switch-menu {
    display: none;
  }

  .switch-menu.active {
    position: fixed;
    display: flex;
    height: 30vh;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* Document Menu */
  #doc-nav {
    margin-left: auto;
    margin-right: auto;
    padding: 2.5vh;
    background-color: white;
  }

  .doc-btn {
    margin: 0.5rem 0.2rem;
    border: 1px solid black;
    background: none;
  }

  .doc-btn.active {
    background-color: #f9eb0f;
  }

  /* Theme Menu */
  #theme-nav {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5vh;
    background-color: white;
  }

  .theme-btn {
    border: none;
    background: none;
  }

  .theme-btn.active {
    background-color: #f9eb0f;
  }

  .theme-icon {
    padding: 0; /* TBD */
    width: 1.5rem;
  }
}

/* Loading */

.loading-wrapper {
  width: 100vw;
  height: 100vh;
  display: none;
}

.loading-wrapper.active {
  display: block;
}

@media (min-width: 767px) {
  .loading-wrapper {
    padding: 2.5rem;
  }
}

#loading {
  background-image: url("https://media.giphy.com/media/5rmQdXUaAzutq/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/Ph0oIVQeuvh0k/giphy.gif"); */
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 200;
}

@media (max-width: 766px) {
  #loading {
    position: fixed;
    top: 0;
    left: 0;
  }
}


/* Content */

#content {
  width: 100vw;
  height: 100vh;
  overflow: scroll!important;
  -webkit-overflow-scrolling: touch!important;
}

/*
@media (min-width: 767px) {
  #content {
    padding: 2.5rem;
  }
}*/

#content iframe {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  width: calc(100vw - 5rem);
  height: calc(100vh - 5rem);
  border: none;
}


@media (max-width: 767px) {
  #content iframe {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
