@import url(https://fonts.googleapis.com/css?family=Lato:100);

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #232323;
  font-style: normal;
  line-height: 1.5;
  font-family: 'Lato';
}
a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #149dcc;
}
h1, h2, h3, h4, h5, .display-1, .display-2 {
  line-height: 1;
}
.display-1 {
  font-family: 'Lato', sans-serif;
  font-size: 12rem;
  padding-left: 40vw;
}
.display-2 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}
.display-5 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: white;


}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: white;
}

.card-text {
  font-family: 'Lato';

}

.documentation, .about, .disclaimer, .theframe, .userguide, .themelist, .doctheme {
  background-color: #C8D2DE;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.documentation h3 {
  font-weight: 800;
  color: #D02D1C;
}

.documentation

.documentation h1 > small {
  font-weight: 700;
  font-size: 2rem;
}

.theframe h3 {
  color: #D02D1C;
}

.userguide h3 {
  color: #D02D1C;
}

.themelist a {
  color: #D02D1C;
}

.themelist a:hover {
  color: #1f7ba9;
}

.doctheme h1 > small{
  font-weight: bolder;
}

@media (max-width: 768px) {
  .display-1 {
    font-size: 9.6rem;
    padding-right: 40vw;
  }
  .display-2 {
    font-size: 2.4rem;
  }
  .display-5 {
    font-size: 1.2rem;

  }
}
.text-white {
  color: #ffffff !important;
}
.intro {
  display: flex;
  background-color: #e2dfae;
  background: url("../img/homeimg/stripes.png");
  background-size: cover;

  height: 100%;
  align-items: center;
  -webkit-align-items: center;
}
.intro p {
  color: #232323;
}

@media (max-width: 768px) {
  .intro {
    height: auto;
  }
}

.timeline-wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #99B1C9; /*brick yellow */
  color: #232323;
  text-align: center;
  font-weight: 300;
}
.timeline-wrapper .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #D02D1C;
  margin-right: 2rem;
  transition: all .4s;
}
.timeline-wrapper .timeline-text-content p {
  margin-bottom: 0;
}
.timeline-wrapper .timeline-element {
  margin-bottom: 50px;
  position: relative;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.timeline-wrapper .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.5);
  transition: all .4s;
}
.timeline-wrapper .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.timeline-wrapper .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.timeline-wrapper .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #D02D1C;
  top: 20px;
  margin-left: -30px;
}
.timeline-wrapper .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #D02D1C;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .timeline-wrapper .iconsBackground {
    left: 1.5rem;
  }
  .timeline-wrapper .separline:before {
    left: calc(1.5rem - 1px);
  }
  .timeline-wrapper .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .timeline-wrapper .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.timeline-wrapper {
  color: #232323;
}
.themes h2 {
  color: #232323;
  text-align: left;
}
.themes h4 {
  text-align: left;
  font-weight: 500;
}
.themes p {
  color: #232323;
  text-align: left;
}
.themes img {
  display: block;
  width: 100%;
}
.themes {
  padding-top: 60px;
  padding-bottom: 60px;
}
.themes .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.themes .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.themes .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.themes-yellow {
  background-color: #1f7ba9;
}
.themes-turquoise {
  background-color: #B0DABE;
}
.themes-blue {
  background-color: #EFCF48;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #232323;
}
@media (max-width: 767px) {
  .footer .content {
    text-align: center;
  }
  .footer .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .footer .media-wrap {
    margin-bottom: 1rem;
  }
}
.footer .media-wrap img {
  height: 6rem;
}

/*! Text-aligns */
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
@media (max-width: 767px) {
  .align-left, .align-center {
    text-align: center;
  }
}

/*! Media  */

.card {
  background-color: transparent;
  border: none;
}
.media {
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .media {
    width: auto;
  }
}
.media {
  display: -webkit-flex;
}
