
/* ------ Fonts ------ */
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@font-face {
    font-family: grenadier;
    src: url("../../fonts/artDeco/grenadier.otf") format("opentype");
}
@font-face {
    font-family: parklane;
    src: url("../../fonts/artDeco/parklane.otf") format("opentype");
}


/* ------ html + body ------ */
html {
  background-image: url("../../img/bg/velvet.png");
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poiret One", cursive;
  color: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
body:after {
  content: "";
  display: block;
  width: 60vw;
  height: 20vh;
}


/* ------ General Text Styling ------ */
h1 {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 3vh;
  margin: 0;
  padding: 0 0 0 0;
  line-height: normal;
}
h2 {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 6vh;
  font-style: ;
  margin: 0;
  padding: 2rem 0 0 0;
}
h3 {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 3vh;
  font-style: ;
  margin: 0;
  padding: 2rem 0 2rem 0;
}
h4 {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "parklane";
  font-size: 2rem;
  font-style: ;
  margin: 0;
  padding: 1rem 0 0 0;
}
h5 {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 1rem;
  font-style: ;
  margin: 0;
  padding: 1rem 0 0 0;
}
h6 {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 1rem;
  font-style: ;
  margin: 0;
  padding: 1rem 0 0 0;
}
p {
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem 0 0 0;
}
em {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
small {
  font-family: ;
  font-size: 1rem;
  font-style: ;
}
q {
  font-family: ;
  font-size: 1rem;
  font-style: ;
}
a {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 1rem;
  font-style: normal;
}
a:hover {
  font-style: italic;
}


/* ------ Header ------ */
header {
  width: 80vw;
  margin: 8vmin auto;
  text-align: center;
}
header:before {
  content: "";
  display: inline-block;
  background-image: url("../../img/divider/divider-6.svg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60vw;
  margin: 0;
  padding: 0;
  padding-top: 25vmax;
}
header:after {
  content: "";
  display: inline-block;
  background-image: url("../../img/divider/divider-9.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60vw;
  margin: 0;
  padding: 0;
  padding-top: 13.5vmax;
}
@media (max-width: 766px) {
  header:before {
    width: 80vw;
    margin: 0;
  }
  header:after {
    width: 80vw;
    margin: 0;
  }
}
header > p {
  text-align: center;
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 1rem;
}
header section p {
  text-align: center;
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "parklane";
  font-size: 1rem;
}


/* ------ Main ------ */
main {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
main figure {
  width: 80vw;
  margin: 5vmin 0;
  padding: 0;
}
main footer {
  width: 80vw;
  margin: 0;
  padding: 0;
}
main footer:before {
  content: "";
  background-image: none;
  width: 80vw;
  margin: 0;
  padding: 0;
}


/* ------ Section ------ */
section {
}
section p {
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin: 0;
  padding: 1rem 0 0 0;
}
section footer {
  width: 80vw;
  margin: 0;
  padding: 0;
}
section footer:before {
  content: "";
  width: 80vw;
  margin: 0;
  padding: 0;
}
section footer p {
  text-align: center;
}


/* ------ Figure ------ */
figure {
  width: 80vw;
  margin: 2vmin 10vw 0 10vw;
  padding: 0;
}
figure:before {
  content: "";
  display: inline-block;
  background-image: url("../../img/divider/divider-7.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60vw;
  margin: 0 10vw 0 10vw;
  padding: 0;
  padding-top: 10vh;
}
figure:after {
  content: "";
  display: inline-block;
  background-image: url("../../img/divider/divider-8.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60vw;
  margin: 0 10vw 0 10vw;
  padding: 0;
  padding-top: 10vh;
}
@media (max-width: 766px) {
  figure:before {
    width: 80vw;
    margin: 0;
  }
  figure:after {
    width: 80vw;
    margin: 0;
  }
}
figure > figcaption {
  background: -webkit-linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 40vw;
  font-family: "parklane";
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2vh 0 0 0;
}
figure > figcaption > em {
  font-size: 0.6rem;
}
figure > figcaption > small {
  font-size: 0.4rem;
}
figure > img {
  display: block;
  width: auto;
  max-height: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  filter: grayscale(20%) sepia(20%) contrast(0.8);
  -webkit-filter: grayscale(20%) sepia(20%) contrast(0.8);
  clip-path: polygon(10% 0, 90% 0, 100% 7.5%, 100% 92.5%, 90% 100%, 10% 100%, 0 92.5%, 0 7.5%);
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 7.5%, 100% 92.5%, 90% 100%, 10% 100%, 0 92.5%, 0 7.5%);
}
figure > video {
  display: block;
  width: auto;
  max-height: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}


/* ------ Tables ------ */
figure > table {
  background-image: linear-gradient(#BF953F, #FCF6BA, #FBF5B7, #AA771C);
  background-origin: border-box;
  border-spacing: 2px;
  text-align: center;
  display: block;
  margin: 5vh auto;
  padding: 0;
  font-size: 2vmin;
  font-weight: bold;
  width: 80vw;
}
figure > table p {
  font-size: 2vmin;
  font-weight: bold;
  text-align: center;
  padding: 0;
}
figure > table a {
  font-size: 2vmin;
}
figure > table th {
  background-image: url("../../img/bg/velvet.png");
  background-repeat: repeat;
  font-size: 3vmin;
  margin: 0;
  padding: 1vmin;
}
figure > table td {
  background-image: url("../../img/bg/velvet.png");
  background-repeat: repeat;
  margin: 0;
  padding: 1vmin;
}


/* ------ List ------ */
ul {
  width: 80vw;
  padding: 0;
  margin: 0;
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  list-style-type: none;
}
ol {
  width: 75vw;
  padding: 0 0 0 5vw;
  margin: 0 0 5vh 0;
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  list-style-type: upper-roman;
}
ol > li > ol {
  width: 70vw;
  padding: 0 0 0 5vw;
  margin: 0;
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  list-style-type: decimal;
}
ol > li > ol > li > ol {
  width: 65vw;
  padding: 0 0 0 5vw;
  margin: 0;
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  list-style-type: lower-latin;
}
ol > li > ol > li > ol > li > ol {
  width: 60vw;
  padding: 0 0 0 5vw;
  margin: 0;
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  list-style-type: lower-greek;
}
ol > li > ol > li > ul {
  width: 65vw;
  padding: 0 0 0 5vw;
  margin: 0;
  list-style-type: none;
  text-align: justify;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}


/* ------ Footer ------ */
footer {
  font-size: 0.8rem;
  line-height: 1rem;
  width: 80vw;
  margin: 0 10vw 0 10vw;
  padding: 5vh 0;
}
footer p {
  text-align: center;
}
footer small {
  font-size: 0.8rem;
}
footer a {
  font-size: 0.8rem;
}
footer ul > li {
  width: 75vw;
}
footer li {
  line-height: 1rem;
}
footer:before {
  content: "";
  display: inline-block;
  background-image: url("../../img/divider/divider-5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80vw;
  margin: 0 0 5vh 0;
  padding: 0;
  padding-top: 15%;
}
