html, body {
  padding: 0;
  margin: 0;
}

#auroraWrapper {
  padding: 0;
  margin: 0;
  display: block!important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: #d3d3d3;
}

#chart-container {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}

figure, header, article, footer,
p, h1, h2, h3, h4, h5, h6 {
  display: none;
}
