@font-face {
    font-family: rajdhaniLight;
    src: url("../../fonts/aurora/rajdhani/Rajdhani-Light.ttf") format("truetype");
}


/* ------ html + body ------ */
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 2.5vw;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(60deg, #8bbbcc 0%, #86b9ca 49%, #4051b5 82%);
  background-size: 200%;
  animation: aurora 15s infinite;
  box-sizing: border-box;
}
body:before {
  margin: -2.5vw;
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  background-size: 200%;
  content: " ";
  position: fixed;
  animation: aurora 15s infinite;
  width: 100%;
  height: 100%;
}
@keyframes aurora {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}


/* ------ Hide Content ------ */
/* display: none in a parent cannot be overwritten in a child */
section, article, footer {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}
h1, h2, h3, h4, h5, h6, p, q, ul, ol {
  display: none;
}


/* ------ General Styling ------*/
header {
  font-family: rajdhaniLight;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 42.5vw;
  max-height: calc(100vh - 30vw);
  overflow-y: scroll;
  margin: 27.5vw 0 0 2.5vw;
  padding: 3vmin;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  background-size: 200%;
  animation: aurora 15s infinite;
  border-radius: 5px;
  box-sizing: border-box;
}
header, figure,
#auroraWrapper, #text-container {
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
header > section {
  display: block;
  width: auto;
  height: auto;
  box-sizing: border-box;
}


/* ------ Text Styling ------ */
header > h1,
header > section > h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  line-height: 3vmin;
}
header > h2,
header > section > h2 {
  display: block;
  margin: 3vmin 0 0 0;
  font-weight: bold;
  font-size: 4vmin;
  line-height: 4vmin;
}
header > h3,
header > section > h3 {
  display: block;
  margin: 3vmin 0 0 0;
  font-weight: bold;
  font-size: 2vmin;
  line-height: 2vmin;
}
header > p {
  display: block;
  margin: 2vmin 0 0 0;
  font-size: 1.5vmin;
  line-height: 1.5vmin;
}
header > section > p {
  display: block;
  margin: 0;
  font-size: 2vmin;
  line-height: 2vmin;
}
header > section > p:first-of-type {
  margin-top: 2vmin;
}
header a {
  color: #e91e62;
  text-decoration: none;
}
header a:hover {
  color: #3f51b5;
  text-decoration: none;
}


/* ------ Aurora ------ */
#auroraWrapper {
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  background-size: 200%;
  animation: aurora 15s infinite;
  border-radius: 5px;
  display: block!important;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 2.5vw 0 0 2.5vw;
  width: 22.5vw;
  height: 22.5vw;
  box-sizing: border-box;
}
#text-container {
  display: flex;
  flex-direction: column;
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  background-size: 200%;
  animation: aurora 15s infinite;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 22.5vw;
  padding: 2vw;
  margin: 0 2.5vw;
  width: 17.5vw;
  height: 22.5vw;
  box-sizing: border-box;
}
#text-container > p {
  padding: 0 0 2vw 0;
  margin: 0;
  display: block;
  font-family: rajdhaniLight;
  font-size: 2vw;
  line-height: 2vw;
}
#text-container a {
  color: #e91e62;
  text-decoration: none;
}
#chart-container {
  padding: 0;
  margin: 0;
  height: 100%!important;
  width: 100%!important;
}


/* ------ Figures ------ */
figure {
  background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  background-size: 200%;
  animation: aurora 15s infinite;
  border-radius: 5px;
  width: 50vw;
  margin: 0 0 2.5vw 45vw;
  padding: 0.5vw;
  float: left;
  position: relative;
  box-sizing: border-box;
}
figure > img {
  width: 49vw;
  border-radius: 5px;
}
figure > img:nth-child(2) {
  margin-top: 2.5vw;
}
figure > video {
  width: 49vw;
}
figure > figcaption {
  width: 50vw;
  display: flex;
  flex-direction: column;
  font-size: 3vmin;
  line-height: 4vmin;
  word-wrap: break-word;
  margin-top: 0.5vw;
  padding: 0.5vw;
  font-family: rajdhaniLight;
}
figure > figcaption em {
  font-size: 3vmin;
  font-weight: bold;
  font-style: normal;
}
figure > figcaption small {
  font-size: 3vmin;
  font-style: normal;
}


/* ------ Tables ------ */
figure > table {
  border-collapse: collapse;
  border: none;
  text-align: center;
  word-wrap: break-word;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.3vw;
  font-family: rajdhaniLight;
  width: 49vw;
}
figure > table p {
  font-size: 1.3vw;
  text-align: center;
  margin: 0;
  padding: 0;
}
figure > table a {
  font-size: 1.3vw;
  color: black;
  text-decoration: none;
}
figure > table th {
  border-bottom: 1px solid #000;
  font-size: 1.8vw;
  margin: 0;
  padding: 0.5vw;
}
figure > table td {
  border-bottom: 1px solid #000;
  margin: 0;
  padding: 0.5vw;
}

figure > table tr:last-child td {
  border-bottom: none;
}

/* ------ Mobile ------ */
@media (max-width: 766px){
  body {
    padding: 0;
  }
  body:before {
    margin: 0;
  }
  header {
    position: absolute;
    width: 95vw;
    height: 30vmax;
    overflow-y: auto;
    margin: 0 2.5vw 0 2.5vw;
    padding: 3vmin;
    top: 27.5vw;
    justify-content: center;
  }
  #auroraWrapper {
    position: absolute;
    z-index: 1000;
  }
  #text-container {
    position: absolute;
    width: calc(100vw - 30vw);
    padding: 1.5vh;
  }
  #text-container > p {
    padding: 0 0 2vw 0;
    font-size: 2vh;
    line-height: 2vh;
  }
  figure {
    width: 95vw;
    margin: 0 2.5vw 2.5vw 2.5vw;
    top: calc(30vw + 30vmax);
  }
  figure > img {
    width: 94vw;
  }
  figure > video {
    width: 94vw;
  }
  figure > figcaption {
    width: 94vw;
  }
  figure > table {
    width: 94vw;
  }
}
