@font-face {
  font-family: '1454 Gutenberg Bibel';
  src: url("../../fonts/first_printed_books/1454-Gutenberg-Bibel.eot"); /* IE9*/
  src: url("../../fonts/first_printed_books/1454-Gutenberg-Bibel.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/first_printed_books/1454-Gutenberg-Bibel.woff2") format("woff2"), /* chrome、firefox */
  url("../../fonts/first_printed_books/1454-Gutenberg-Bibel.woff") format("woff"), /* chrome、firefox */
  url("../../fonts/first_printed_books/1454-Gutenberg-Bibel.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../fonts/first_printed_books/1454-Gutenberg-Bibel.svg#1454-Gutenberg-Bibel") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: '1454 Gutenberg Bibel';
  font-style: normal;
  font-weight: normal;
  src: local('1454-Gutenberg-Bibel'), url("../../fonts/first_printed_books/1454-Gutenberg-Bibel.otf") format('opentype');
}

@font-face {
  font-family: 'Carolingia';
  font-style: normal;
  font-weight: normal;
  src: local('carolingia'), url("../../fonts/first_printed_books/carolingia.otf") format('opentype');
}

@font-face {
  font-family: 'Medieval Scribish';
  font-style: normal;
  font-weight: normal;
  src: local('scribish'), url("../../fonts/first_printed_books/scribish.otf") format('opentype');
}

@font-face {
  font-family: 'ATOIdEnglish';
  font-style: normal;
  font-weight: normal;
  src: local('ATOIdEnglish'), url("../../fonts/first_printed_books/ATOIdEnglish.otf") format('opentype');
}

html {
  background-image: url("../../img/bg/nSydVZm.png");
  background-size: cover;
  width: 100vw;
  height: 100vh; 
  /*background-color: #D3C2A0;*/
}

body {
  margin-top: 10vh;
  margin-right: 40vw;
  margin-left: 20vw;
  margin-bottom: 40vh; /*this value is very important to give the idea of the page of a book*/
}

h1 {
  font-family: 'Medieval Scribish';
  font-size: 2rem; /* whatever number size you choose, but rem */
  font-style: normal;
  color: #120A8F;
  padding-top: 0px;
  padding-bottom: 5px;
  text-align: center;
}

h2 {
  font-family: 'Medieval Scribish';
  font-size: 4vw; 
  color: #E34234;
  padding: 2vw;
  border-width: 0.5vw;
  border-color: #E34234;
  border-style: solid;
}

h3 {
  font-family: '1454 Gutenberg Bibel';
  font-size: 3vw; 
  text-align: center;
}

h4 {
  font-family: '1454 Gutenberg Bibel';
  font-size: 2vw; 
  font-style: normal;
  color: #E34234;
}

h5 {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: normal;
}

h6 {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: normal;
}

p {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: normal;
  letter-spacing: normal;
  column-count: 2;
  column-gap: 4vw;
  text-align: justify;
}

p::first-letter {
  font-family: 'Medieval Scribish';
  font-size: 4rem;
  color: #120A8F;
}

em {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: bold;
  color: #CC7722;
}

small {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: normal;
  color: #293542;
}

q {
  font-family: 'carolingia';
  font-size: 1rem; /* whatever number size you choose, but rem */
}

a {
  font-family: 'carolingia';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: normal;
  color: #120A8F;
}

a:hover { /*Select and style a link when you mouse over it:*/
  font-family: 'carolingia';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: normal;
}

header {
  width: 100%;
}

header > p {
  color: #E34234;
  font-family: '1454 Gutenberg Bibel';
  text-align: justify;
}

header > section > p {
  color: #E34234;
  text-align: center;
}

section {
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-image: url(GUT_VATICANO.png) 0 0 100 0;
  font-family: '1454 Gutenberg Bibel';
}

section > p {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
}

section > section > p {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
}

main > section > p {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
}

figure {
  width: auto; /*use percentage of viewwidth
  /*margin-bottom: 10%;
  border-bottom: 10px solid transparent;
  border-image-source: url("../img/divider/decoration.png") 30 round;
  border-image-width: 30px;
  border-image-repeat: no-repeat; */
}

figure:after {
  /*The ::before selector inserts something before the content of each selected element(s).
  The ::after selector inserts something after the content.
  Use the content property to specify the content to insert.*/
  content: "";  /*The content property is used with the ::before and ::after pseudo-elements, to insert generated content. In this case no content */
  display: inline-block;
  background-image: url("../../img/divider/decoration.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  width: 100%;
  padding-top: 30%;
}

figure > figcaption {
  width: auto;
  font-family: '1454 Gutenberg Bibel';
  font-size: 2vw; /* whatever number size you choose, but rem */
  font-style: ;
  padding: 1vw;
  float: none;
  color: #293542;
}

figure > figcaption > em {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: bold;
  padding: ;
  color: #F5D033;
}

figure > img {
  width: 100%; /* use percentage of the figure box width */
  height: auto;
  float: none;
  display: block;
  margin-top: 5%;
  border-style: solid; /*same floral decoration*/
  border-color: black;
  filter: grayscale(100%);
}

/*figure > video {  VIDEO is not available because videos did not exist at the time.
  width: 80%;
  margin: 0;
  padding: 0;
  float: none;
} */

figure > table {
  border-collapse: collapse;
  width: 100%; /* use percentage of the figure box width */
  height: auto;
  position: relative;
  /* some tables contains a lot of content, so when they screen size is reduced considerably
  the content would not fit, so I set position:relative although the table will not be
  aligned with the paragraphs.*/
  margin-top: 5%;
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
  font-style: normal;
  border: solid 5px black;
}

/*--- THE FOLLOWING MEDIA QUERIES ALLOW TO ADAPT TABLES TO CELLPHONES SCREENS---*/

@media screen and (max-width: 768px) {

    figure > table {
      margin-left: 0;
      padding-left: 0;
      font-size: 1vw;
    }

    td > a {
      font-size: 1rem;
    }

    td > a:hover {
      font-size: 2rem;
    }

    table {
        display: inline-table;
    }
}

table, th, td, tr {
  border: 1vw solid black;
}

figure > table > th {
  width: auto;
  font-family: 'Medieval Scribish';
  font-size: 1vw;
  padding: 0;
}

figure > table > tr {
  width: auto;
  font-family: '1454 Gutenberg Bibel';
  font-size: 1vw;
  padding: 0; /* the text was compact without black spaces*/
}

figure > table > tr > td:first-child { /* use this to style the first column of a table */
  width: auto;
  font-family: '1454 Gutenberg Bibel';
  font-size: 1vw;
  padding: 0; /* the text was compact without black spaces*/
}

figure > table > tr > td:nth-child(n) { /* use this to style the n-th column of a table */
  width: auto;
  font-family: '1454 Gutenberg Bibel';
  font-size: 1vw;
  padding: 0; /* the text was compact without black spaces*/
}

ul {
  width: 100%; /* use percentage of viewwidth */
  padding: 0;
  text-indent: 2rem;
  list-style-type: none; /* no symbol before each list element */
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
  text-align: justify;
}

ul > li {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
}

ul > li:before {
  content: "-"; /* choose your own symbol before each list element */
  padding-right: 2px;
}

ol {
  width: 100%; /* use percentage of viewwidth */
  padding: 0;
  list-style-type: upper-roman;
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
  text-align: justify;
}

ol > li {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
}

ol > li > ol {
  list-style-type: lower-roman;
}

ol > li > ol > li {
  font-family: '1454 Gutenberg Bibel';
  font-size: 1rem;
  column-count: 0;
}

footer {
  font-family: '1454 Gutenberg Bibel';
  font-size: 0.5rem;
}


@media screen and (max-width: 766px) {
  
  body {
    margin-top: 1vh;
    margin-right: 2vh;
    margin-left: 1vh;
    margin-bottom: 2vh; 
    width: 100vw;
    height: 100vh; 
    font-size: 2vw;
  }
  
   h1 {
    font-family: 'Medieval Scribish';
    font-size: 2vw; 
    margin: 0
  }

   h2 {
     font-family: 'Medieval Scribish';
     font-size: 4vw;
     padding: 0;
  }

   h3 {
     font-family: '1454 Gutenberg Bibel';
     font-size: 3vw; 
  }

   h4 {
     font-family: '1454 Gutenberg Bibel';
     font-size: 2vw; 
  }

   h5 {
     font-family: '1454 Gutenberg Bibel';
     font-size: 1vw;
     font-style: normal;
  }

   h6 {
     font-family: '1454 Gutenberg Bibel';
     font-size: 1vw; 
     font-style: normal;
  }

  p {
     font-family: '1454 Gutenberg Bibel';
     font-size: 1.5vh; 
     font-style: normal;
  }

  p::first-letter {
     font-family: 'Medieval Scribish';
     font-size: 6vw;
  }

  em {
    font-family: '1454 Gutenberg Bibel';
    font-size: 1.5vw;
    font-style: bold;
  }

  small {
    font-family: '1454 Gutenberg Bibel';
    font-size: 1vw; 
  }


  q {
    font-family: 'carolingia';
    font-size: 1vw;
  }

  a {
    font-family: 'carolingia';
    font-size: 1.5vw; 
  }

  a:hover { /*Select and style a link when you mouse over it:*/
    font-family: 'carolingia';
    font-size: 1.5vw; 
    font-style: normal;
  }
  
  header > p {
    font-family: '1454 Gutenberg Bibel';
    font-size: 2vw;
  }

  header > section > p {
    font-family: '1454 Gutenberg Bibel';
    font-size: 2vw;
  }

  section > p {
    font-family: '1454 Gutenberg Bibel';
    font-size: 2vw;
  }

  section > section > p {
    font-family: '1454 Gutenberg Bibel';
    font-size: 2vw;
  }

  main > section > p {
    font-family: '1454 Gutenberg Bibel';
    font-size: 2vw;
  }

  figure > figcaption {
    font-family: '1454 Gutenberg Bibel';
    font-size: 1vw;
  }

  figure > figcaption > em {
    font-family: '1454 Gutenberg Bibel';
    font-size: 1vw;
  }

  figure > table {
    font-family: '1454 Gutenberg Bibel';
    font-size: 1vw;
    font-style: normal;
    border: solid 2px black;
 }
}
