

header > p {
  font-family: 'Helvetica Neue';
  font-size: 1rem;
  font-stretch: extra-condensed;
}


header > section {
  background-color: #4D7791;
  border: 0;
}

header > section > p {
  font-family: 'Industria'; /*used on bottom of cover page*/
  font-size: 5vw;
  font-style: normal;
  column-count: 0;
}

body > section {
  background-color: #F2D474; /*yellowish, ochre*/
  text-align: justify;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

body > section > p {
  font-family: 'Franklin Gothic Std ExtraCond';
  font-size: 2rem;
  text-decoration: underline;
}

body > main > section {
  background-color: #F2D474; /*yellowish, ochre*/
  text-align: justify;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

/*--- the two following rules have been applied for the cases in which there are no sections, like in Bloomberg article ---*/
body > p {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

body > main > p {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

section > p {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

section > section > p {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

figure {
  width: 80%; /* use percentage of viewwidth */
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  column-span: all;
  padding-left: 0;
  border-right: 20vw;
  border-left: 5vw;
  border-left-style: solid;
  border-left-color: #FBCC2D;
  overflow: hidden;
}

figure > figcaption {
  width: 30%;
  font-family: 'Helvetica Neue';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: bold;
  float: right;
  padding: 5px;
  border-left: 1vw;
  border-left-style: solid;
  border-left-color: black;
}

figure > figcaption > em {
  font-family: 'Helvetica Neue';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: bold;
}

figure > img {
  width: 80%; /* use percentage of the figure box width */
  margin: 0;
  border-right: 6vw;
  padding-left: 10vw;
  border-right-style: solid;
  border-right-color: #D43D14;
  filter: grayscale(50%);
}

figure > video {
  width: 80%; /* use percentage of the figure box width */
  border-right: 6vw;
  padding-left: 10vw;
  border-right-style: solid;
  border-right-color: #D43D14;
}

figure > table {
  font-family: 'Helvetica';
  font-size: 0.8rem;
  font-style: normal;
  width: 80%; /* use percentage of the figure box width */
  margin: 0;
  border-right: 6vw;
  padding-left: 10vw;
  border-collapse: collapse;
  border-top: 2vw solid #D43D14;
  border-bottom: 2vw solid #D43D14;
  border-right: 2vw solid #1E1605;
  border-left: 2vw solid #1E1605;
}

/*--- ADAPTATION OF TABLES TO CELLPHONES ---*/

@media screen and (max-width: 768px) {

    figure > table {
      margin-left: 0;
      padding-left: 0;
      font-size: 1vw;
    }

    td > a {
      font-size: 1rem;
    }

    td > a:hover {
      font-size: 2rem;
    }

    table {
        display: inline-table;
    }
}

figure > table > th {
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

table, th, td, tr {
  border: 0.8vw solid black;
}

figure > table > tr {
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

figure > table > tr > td:first-child { /* use this to style the first column of a table */
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

figure > table > tr > td:nth-child(n) { /* use this to style the n-th column of a table */
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

ul {
  width: 100%; /* use percentage of viewwidth */
  padding: 10px;
  text-indent: 2rem;
  list-style-type: square; /* no symbol before each list element */
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
  column-width: 20vw;
}

ul > li {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

ol {
  width: 100%; /* use percentage of viewwidth */
  padding: 10px;
  list-style-type: upper-alpha;
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
  column-width: 20vw;
}

ol > li {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

ol > li > ol {
  list-style-type: lower-alpha;
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

ol > li > ol > li {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

footer {
  font-family: 'Helvetica Rounded';
  font-size: 1rem;
  font-style: bold;
  background-color: #D43D14; /*red*/
  padding: 20px;
  border-top: ;
  text-align: justify;
}

footer > p > a > em {
  font-family: 'Helvetica Rounded';
  font-size: 1rem;
  font-style: bold;
  color: #FBCC2D;
}
