/* COVER */
/*The Face name of the magazine*/
@font-face {
  font-family: 'Crazy_Loop_in_Paris'; /*----USED FOR H1, title of the documents (TLS, The Cut etc.)----*/
  font-style: normal;
  font-weight: normal;
  src: local('CRAZLP_'), url("../../fonts/the_face/CRAZLP_.TTF") format("truetype");
}

@font-face {
  font-family: 'TypefaceSixSevenOTW03-Seven'; /* alternative font for H1*/
  font-style: normal;
  font-weight: normal;
  src: local('Typeface Six Seven OT W03 Seven'), url("../../fonts/the_face/Typeface Six Seven OT W03 Seven.otf") format("opentype");
}

@font-face {
  font-family: 'HelveticaNeue BlackCond'; /* USED FOR H2, title of the article. Source image: different_fonts.jpg*/
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-BlackCondObl'), url("../../fonts/the_face/HelveticaNeue-BlackCondObl.otf") format("opentype");
}

@font-face {
  font-family: 'Helvetica Neue'; /* USED FOR H3, right below h2. Source image: different_fonts.jpg*/
  font-style: bold;
  font-weight: normal;
  letter-spacing: 10px;
  src: local('HelveticaNeue-LightExt'), url("../../fonts/the_face/Helvetica Neue/HelveticaNeue-LightExt.otf") format("opentype");
}

@font-face {
  font-family: 'Insignia'; /* USED FOR H4 */
  font-style: bold;
  font-weight: normal;
  letter-spacing: 10px;
  src: local('Insignia'), url("../../fonts/the_face/Insignia.ttf") format("truetype");
}

@font-face {
  font-family: 'Industria'; /*used on bottom of cover page*/
  font-style: normal;
  font-weight: normal;
  letter-spacing: 10px; /*source: image of the kid*/
  src: local('Industria_Solid'), url("../../fonts/the_face/Industria_Solid.ttf") format("truetype");
}
@font-face {
  font-family: 'Helvetica Neue'; /*USED FOR SHORT PARAGRAPHS in the cover (header). Source image: different_fonts.jpg */
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Condensed Black'), url("../../fonts/the_face/Helvetica Neue/Helvetica Neue Condensed Black.ttf") format("opentype");
}

@font-face {
  font-family: 'Helvetica Neue'; /*USED FOR SHORT PARAGRAPHS in the cover (header) with a SMALLER SIZE. Source image: different_fonts.jpg */
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-BoldExt'), url("../../fonts/the_face/Helvetica Neue/HelveticaNeue-BoldExt.otf") format("opentype");
}

/*almost every text in the header must be converted into uppercase with text-transform: uppercase;*/

/* INTERNAL PAGES */

@font-face {
  font-family: 'Franklin Gothic Std ExtraCond'; /* USED FOR H4, internal titles*/
  font-style: normal;
  font-weight: normal;
  src: local('Franklin Gothic Std Extra Condensed-cosmopolitan magazine'), url("../../fonts/the_face/Franklin Gothic Std Extra Condensed-cosmopolitan magazine.otf") format("opentype");
}

@font-face {
  font-family: 'Helvetica'; /* USED FOR ALL THE PARAGRAPHS IN MAIN, SECTION, FOOTER*/
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url("../../fonts/the_face/Helvetica/Helvetica.ttf") format("opentype");
}

@font-face {
  font-family: 'Helvetica Rounded'; /*USED FOR EM*/
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaRounded-Bold'), url("../../fonts/the_face/Helvetica/HelveticaRounded-Bold.otf") format("opentype");
}

/*--- COLUMNS ARE APPLIED TO P, OL AND UL --- */

html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #F2D474
}

main: {
  background-color: #F2D474; /*yellowish, ochre*/
  font-family: ;
  font-size: ;
  padding: 0;
  margin: 0;
}

h1:before {
  position: left;
  background-image: url("../../img/icons/logo.jpg");
  background-position: left;
  background-size: 30vw;
}

h1 {
  text-transform: uppercase;
  font-family: 'Crazy_Loop_in_Paris';
  font-size: 11vw; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: right;
  margin: ;
  padding: ;
}

h2 {
  text-transform: uppercase;
  font-family: 'HelveticaNeue BlackCond';
  font-size: 6vw; /* whatever number size you choose, but rem */
  font-style: italic;
  color: #F29D1F;
  margin: ;
  padding: ;
}

h3 {
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  font-size: 3vw; /* whatever number size you choose, but rem */
  font-style: bold;
  letter-spacing: 10px;
  color: #D43D14;
  margin: ;
  padding: ;
}

h4 {
  text-transform: uppercase;
  font-family: 'TypefaceSixSevenOTW03-Seven';
  font-size: 2.5vw; /* whatever number size you choose, but rem */
  font-style: bold;
  margin: 0;
  padding: 0;
}

h5 {
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  font-size: 2rem; /* whatever number size you choose, but rem */
  font-style: bold;
  letter-spacing: 10px;
  margin: ;
  padding: ;
}

h6 {
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: bold;
  letter-spacing: 10px;
  margin: ;
  padding: ;
}

p {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
  column-width: 20vw;
}

em {
  font-family: 'Helvetica Rounded';
  font-size: 2vw; /* whatever number size you choose, but rem */
  color: #D43D14;
  font-style: ;
  padding: ;
}

small {
  font-family: 'Helvetica Neue';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: bold;
  padding: ;
}

q {
  font-family: "Helvetica Rounded";
  text-decoration: underline;
  font-size: 1.5vw; /* whatever number size you choose, but rem */
}

main > q {
  padding-left: 13vw;
}

a {
  font-family: 'Industria';
  font-size: 3rem; /* whatever number size you choose, but rem */
  font-style: bold;
  color: #0E4BDB;
}

a:hover {
  font-family: 'Industria';
  font-size: 4rem; /* whatever number size you choose, but rem */
  font-style: bold;
}

header { /* example of a header that we want in the center of the page */
  background-color: #4D7791; /*light-bluish*/
  text-align: left;
  padding-right: 2vw;
  padding-left: 2vw;
  border-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-color: #d43D14;
}

header > p {
  font-family: 'Helvetica Neue';
  font-size: 1rem;
  font-style: condensed; 
}


header > section {
  background-color: #4D7791;
  border: 0;
}

header > section > p {
  font-family: 'Industria'; /*used on bottom of cover page*/
  font-size: 5vw;
  font-style: normal;
  column-count: 0;
}

body > section {
  background-color: #F2D474; /*yellowish, ochre*/
  text-align: justify;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

body > section > p {
  font-family: 'Franklin Gothic Std ExtraCond';
  font-size: 2rem;
  text-decoration: underline;
}

body > main > section {
  background-color: #F2D474; /*yellowish, ochre*/
  text-align: justify;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

/*--- the two following rules have been applied for the cases in which there are no sections, like in Bloomberg article ---*/
body > p {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

body > main > p {
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 30vw;
  border-left: 8vw;
  border-left-style: solid;
  border-left-color: black; /*let the border overlap with the text*/
}

section > p {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

section > section > p {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

figure {
  width: 80%; /* use percentage of viewwidth */
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  column-span: all;
  padding-left: 0;
  border-right: 20vw;
  border-left: 5vw;
  border-left-style: solid;
  border-left-color: #FBCC2D;
  overflow: hidden;
}

figure > figcaption {
  width: 30%;
  font-family: 'Helvetica Neue';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: bold;
  float: right;
  padding: 5px;
  border-left: 1vw;
  border-left-style: solid;
  border-left-color: black;
}

figure > figcaption > em {
  font-family: 'Helvetica Neue';
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: bold;
}

figure > img {
  width: 80%; /* use percentage of the figure box width */
  margin: 0;
  border-right: 6vw;
  padding-left: 10vw;
  border-right-style: solid;
  border-right-color: #D43D14;
  filter: grayscale(50%);
}

figure > video {
  width: 80%; /* use percentage of the figure box width */
  border-right: 6vw;
  padding-left: 10vw;
  border-right-style: solid;
  border-right-color: #D43D14;
}

figure > table {
  font-family: 'Helvetica';
  font-size: 0.8rem;
  font-style: normal;
  width: 80%; /* use percentage of the figure box width */
  margin: 0;
  border-right: 6vw;
  padding-left: 10vw;
  border-collapse: collapse;
  border-top: 2vw solid #D43D14;
  border-bottom: 2vw solid #D43D14;
  border-right: 2vw solid #1E1605;
  border-left: 2vw solid #1E1605;
}

/*--- ADAPTATION OF TABLES TO CELLPHONES ---*/

@media screen and (max-width: 768px) {

    figure > table {
      margin-left: 0;
      padding-left: 0;
      font-size: 1vw;
    }

    td > a {
      font-size: 1rem;
    }

    td > a:hover {
      font-size: 2rem;
    }

    table {
        display: inline-table;
    }
}

figure > table > th {
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

table, th, td, tr {
  border: 0.8vw solid black;
}

figure > table > tr {
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

figure > table > tr > td:first-child { /* use this to style the first column of a table */
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

figure > table > tr > td:nth-child(n) { /* use this to style the n-th column of a table */
  font-family: 'Helvetica';
  font-size: 0.8rem;
}

ul {
  width: 100%; /* use percentage of viewwidth */
  padding: 10px;
  text-indent: 2rem;
  list-style-type: square; /* no symbol before each list element */
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
  column-width: 20vw;
}

ul > li {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

ol {
  width: 100%; /* use percentage of viewwidth */
  padding: 10px;
  list-style-type: upper-alpha;
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
  column-count: 2;
  column-gap: 4vw;
  column-width: 20vw;
}

ol > li {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

ol > li > ol {
  list-style-type: lower-alpha;
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

ol > li > ol > li {
  font-family: 'Helvetica';
  font-size: 0.8rem; /* whatever number size you choose, but rem */
  font-style: normal;
  text-align: justify;
}

footer {
  font-family: 'Helvetica Rounded';
  font-size: 1rem;
  font-style: bold;
  background-color: #D43D14; /*red*/
  padding: 20px;
  border-top: ;
  text-align: justify;
}

footer > p > a > em {
  font-family: 'Helvetica Rounded';
  font-size: 1rem;
  font-style: bold;
  color: #FBCC2D;
}

@media screen and (max-width: 768px) {
  
  body {
    width: 100vw;
    height: 100vh;
    font-size: 2vw; 
  }
  
   h1 {
    font-family: 'Crazy Loop in Paris';
    font-size: 8vw; 
  }

   h2 {
     font-family: 'HelveticaNeue BlackCond';
     font-size: 4vw;
     border: 0;
  }

   h3 {
     font-family: 'Helvetica Neue';
     font-size: 3vw; 
  }

   h4 {
     font-family: 'TypefaceSixSevenOTW03-Seven';
     font-size: 2vw; 
  }

   h5 {
     font-family: 'Helvetica Neue';
     font-size: 1vw;
     font-style: normal;
  }

   h6 {
     font-family: 'Helvetica Neue';
     font-size: 1vw; 
     font-style: normal;
  }

  p {
     font-family: 'Helvetica';
     font-size: 1.5vw; 
     font-style: normal;
  }

  em {
    font-family: 'Helvetica Rounded';
    font-size: 1.5vw;
    font-style: bold;
  }

  small {
    font-family: 'Helvetica Neue';
    font-size: 1vw; 
  }


  q {
    font-family: "Helvetica Rounded";
    text-decoration: underline;
    font-size: 1.5vw;
  }

  main > q {
    padding-left: 5vw;
  }

  a {
    font-family: 'Industria';
    font-size: 3vw; 
    font-style: bold;
    color: #0E4BDB;
  }

  a:hover {
    font-family: 'Industria';
    font-size: 4vw; 
    font-style: bold;
  }
  
  header > p {
    font-family: 'Helvetica Neue';
    font-size: 2vw;
  }

  header > section > p {
    font-family: 'Industria';
    font-size: 4vw;
  }

  section > p {
    font-family: 'Helvetica';
    font-size: 2vw;
  }

  body > section > p {
    font-family: 'Franklin Gothic Std ExtraCond';  
    font-size: 2vw;
  }
  
  section > section > p {
    font-family: '1454 Gutenberg Bibel';
    font-size: 2vw;
  }

  main > section > p {
    font-family: 'Helvetica';
    font-size: 2vw;
  }

  figure > figcaption {
    font-family: 'Helvetica Neue';
    font-size: 1vw;
    font-style: bold; 
  }

  figure > figcaption > em {
    font-family: 'Helvetica Neue';
    font-size: 2vw;
  }

  figure > table {
    font-family: 'Helvetica';
    font-size: 1vw;
 }
}
