/* use jquery clone() method for text/titles*/
/* use css box-shadow for images*/


/*-------------------------------Fonts------------------------------- */
/*----Psychedelic, Pop Art, Sans-Serif, Brazilian----*/

/********AZEDO********/
/* azedo-bold */
@font-face {
    font-family: azedo-bold;
    src: url("../../fonts/tropicalia/Azedo-Bold.otf") format("opentype");
}

/* azedo-light */
@font-face {
    font-family: azedo-light;
    src: url("../../fonts/tropicalia/Azedo-Light.otf") format("opentype");
}

/********BOOMTOWN DECO********/
/* boomtown-deco */
@font-face {
    font-family: boomtown-deco;
    src: url("../../fonts/tropicalia/Boomtown-deco.otf") format("opentype");
}

/********DOGSMOKE********/
/* dogsmoke */
@font-face {
    font-family: dogsmoke;
    src: url("../../fonts/tropicalia/Dogsmoke.ttf") format("opentype");
}

/* dogsmoke-ii */
@font-face {
    font-family: dogsmoke-ii;
    src: url("../../fonts/tropicalia/Dogsmoke-II.ttf") format("opentype");
}

/* dogsmoke-thunder-ii */
@font-face {
    font-family: dogsmoke-thunder-ii;
    src: url("../../fonts/tropicalia/Dogsmoke-Thunder-II.ttf") format("opentype");
}

/* dogsmoke-thunder */
@font-face {
    font-family: dogsmoke-thunder;
    src: url("../../fonts/tropicalia/Dogsmoke-Thunder.ttf") format("opentype");
}

/* dogsmoke-ii */
@font-face {
    font-family: dogsmoke-ii;
    src: url("../../fonts/tropicalia/Dogsmoke-II.ttf") format("opentype");
}

/********OTHER********/
/* tropicalia */
@font-face {
    font-family: tropicalia;
    src: url("../../fonts/tropicalia/Tropicalia-Brush.ttf") format("opentype");
}

/* ostrichsans-medium-heavy */
@font-face {
    font-family: ostrichsans-medium-heavy;
    src: url("../../fonts/tropicalia/ostrichsans-medium-webfont.ttf") format("opentype");
}

/* village */
@font-face {
    font-family: village;
    src: url("../../fonts/tropicalia/Village.ttf") format("opentype");
}

/* flames */
@font-face {
    font-family: flames;
    src: url("../../fonts/tropicalia/Flames.ttf") format("opentype");
}

/* beamie */
@font-face {
    font-family: beamie;
    src: url("../../fonts/tropicalia/beamie.ttf") format("opentype");
}

/* ftact */
@font-face {
    font-family: ftact;
    src: url("../../fonts/tropicalia/Ftact.ttf") format("opentype");
}

/* lettersinthehands */
@font-face {
    font-family: lettersinthehands;
    src: url("../../fonts/tropicalia/Lettersinthehands.ttf") format("opentype");
}

/* pseudolux-regular */
@font-face {
    font-family: pseudolux-regular;
    src: url("../../fonts/tropicalia/Pseudolux-Regular.ttf") format("opentype");
}

/* pseudolux */
@font-face {
    font-family: pseudolux;
    src: url("../../fonts/tropicalia/Pseudolux.ttf") format("opentype");
}

/* yoxall */
@font-face {
    font-family: yoxall;
    src: url("../../fonts/tropicalia/Yoxall.ttf") format("opentype");
}

/* ipanema */
@font-face {
    font-family: ipanema;
    src: url("../../fonts/tropicalia/Ipanema-Secco.ttf") format("opentype");
}

/* milho */
@font-face {
    font-family: milho;
    src: url("../../fonts/tropicalia/Milho-Cozido.ttf") format("opentype");
}

/* beigly */
@font-face {
    font-family: beigly;
    src: url("../../fonts/tropicalia/Beigly.ttf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

/*-------------------------------General------------------------------- */

html {
  /* whole document background color. SOURCE Image 1 */
  background-color: #e0d289;
}

body {
  /* default sans-serif font of the body. SOURCE Espinosa, 2018. */
  font-family: "yoxall";
  /* default color of the body */
  color: black;

  /* by default body has no side padding */
  padding-left: 0;
  padding-right: 0;
}


/*--------------------Header Structure and Style--------------------- */

header {
  /* header takes up 100% of the width of its parent element, the body. */
  width: 100%;
  /* by default header has no padding */
  padding-top: 0;
  margin-top: 0;
  top: 0;
  padding-bottom: 0;
}

h1 {
  /* psychedelic font. SOURCE Tafarelo de Oliveira, 2011. */
  font-family: "dogsmoke";
  /* lowercase. SOURCE Image 2. */
  text-transform: lowercase;
  /* font size fallback in case viewport width units aren't responsive. */
  font-size: 100px;
  /* font size is 20% of the width of the viewport. SOURCE Image 2. */
  font-size: 20vw;
  /* has limited line-height to give it a psychedelic effect. */
  line-height: 10vw;

  /* see-through colorful background. SOURCE Image 4. */
  background: url("../../img/bg/llew/tropheader.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  /* makes transitions ease in and out */
  transition: transform 5s ease-in-out;

  /* takes up 100% of the width of its parent element, the header. */
  width: 100%;
  /* aligned to the right. SOURCE Image 3. */
  text-align: right;
  /* upper padding. SOURCE Image 2. */
  padding-top: 10vw;
  /* no space between the title and the next element. SOURCE Image 2. */
  margin-bottom: 0vw;
  padding-bottom: 0vw;
}

h1:hover {
  /* animation to turn text upside down in a clockwise number. */
  transform: translateX(-10vw);
  transform: rotate(180deg);
}

h2 {
    /* sans-serif font. SOURCE Espinosa, 2018. */
    font-family: 'yoxall', sans-serif;
    font-size: 7.8vw;
    /* font color cosmic latte */
    color: #fff8e7;
    /* pop-art inspirted shadow effect. SOURCE Image 6. */
    text-shadow:
      -0.5vw -0.5vw 2px #c43950,
      0.5vw 0.5vw 3px #c43950;
    /* background color coral red. SOURCE Image 7. */
    background-color: #af443a;

    /*takes up 100% of the width of its parent element, the header */
    width: 50%;
    /* aligned to the right. SOURCE Image 3. */
    text-align: right;
    /* floated to the right. SOURCE Image 3. */
    float: right;
    /* no space between the title and the next element. SOURCE Image 2. */
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    /* right padding. SOURCE Image 8. */
    padding-right: 2vw;
}

h2:hover {
  /* hover green color. SOURCE Image 7. */
  color: 	#af9c3a;
}

h3 {
  /* psychedelic font. */
  font-family: 'beamie';
  font-weight: 100;
  font-size: 6.3vw;
  text-transform: uppercase;
  /* font color from SOURCE Image 7. */
  color: #E0664F;
  /* background color coral red. SOURCE Image 7. */
  background-color: #af443a;


  /* aligned to the left. SOURCE Image 3. */
  text-align: left;
  /* upper padding. SOURCE Image 5. */
  margin-top: 0;
  padding-top: 3vw;
  /* no space between the title and the next element. SOURCE Image 2. */
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  /* left padding. SOURCE Image 8. */
  padding-left: 2vw;
}

h3:hover {
  color: #c43950;
}

header p {

  /* sans-serif font. */
  font-family: 'boomtown-deco';
  font-size: 3vw;
  /* font color cosmic latte */
  color: #fff8e7;
  /* pop-art inspirted shadow effect for easier reading. SOURCE Image 6. */
  text-shadow:
    -0.1vw -0.1vw 2px grey,
    0.1vw 0.1vw 4px grey;
  /* background color same as h1. SOURCE Image 7. */
  background: url("../../img/bg/llew/tropheader.jpg");

  /* upper padding */
  padding-top: 0.5vw;
  /* no space between the title and the next element. SOURCE Image 2. */
  margin-bottom: 0;
  padding-bottom: 0;
  /* left padding, same as main body of the article. */
  padding-left: 5vw;
}

header > p > a {
  /* font color cosmic latte. */
  color: #fff8e7;
}

header > p > a:hover {
  /* on hover, font color black. */
  color: pink;
}

/*------------------Main Article Structure and Style------------------- */

article {
  /* upper padding. */
  padding-top: 3vw;
  /* side padding matches header paragraphs'. */
  padding-left: 5vw;
  padding-right: 5vw;
  /* article is divided into two columns. SOURCE Image 9. */
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

section {
  /* space between one section and the other */
  margin-bottom: 0.5vw;
  /* each section finishes with a coral red rounded border. */
  border-top: 2vw solid #af443a;
  /* each section finishes with a coral red rounded border. */
  border-bottom: 2vw solid #af443a;
  /* borders have rounded corners. SOURCE Image 7. */
  border-radius: 25px;
}

h4 {
  /* psychedelic font. */
  font-family: 'beamie';
  font-size: 9vw;
  /* makes the psychedelic effect visible. */
  font-weight: 100;

  text-align: right;
  /* makes the background touch the border. */
  margin-top: 0;
  /* upper padding for extra background. */
  padding-top: 1vw;
  /* makes the background touch the border. */
  margin-bottom: 0;
  /* upper padding for extra background. */
  padding-bottom: 1vw;
}

h4:hover {
  /* animation right to left */
  animation: cells 0.4s linear infinite;
  direction: rtl;
  unicode-bidi: bidi-override;
  /* this is a special background designed by @samurai. SOURCE http://simurai.com/lab/2011/10/03/space-cacss#top  */
  background-size: 24px 24px;
  background-color: #fff;
  background-image: repeating-radial-gradient(#d0bb4c 8px, #e0d289 12px);
}

article p {
  /* inspired by border of IMAGE Source 10. */
  font-family: 'ostrichsans-medium-heavy';
  font-size: 2.5vw;
  text-align: justify;
}

article p > em {
  /* same as html background color */
  color: #e0d289;
  /* exact complementary color of #e0d289, html background color */
  background-color: #c489e0;
  /* don't make it cursive. */
  font-style: normal;
}

a {
  /* exact complementary color of #e0d289, html background color */
  color: #c489e0;
  /* do not underline */
  text-decoration: none;
  /* literally tropicalia-inspired font. */
  font-family: 'tropicalia';
}

a:hover {
  /* make the link disappear from view */
  color: #e0d289;
}

q {
  font-family: 'boomtown-deco';
  font-size: 4.5vw;
  text-align: justify;
}

small {
  /* make the text 1 viewport width smaller */
  font-size: 1.5vw;
}

/*------------------------------Figures------------------------------- */

/*--------------First Figure--------------*/

body > figure {
  /* do not display figures that aren't part of the main article. */
  display: none !important;
}

/*--------------Other Figures--------------*/

figure {
  /* this is a special background designed by @samurai. SOURCE http://simurai.com/lab/2011/10/03/space-cacss#top  */
  background-size: 24px 24px;
  background-color: #fff;
  background-image: repeating-radial-gradient(#d0bb4c 8px, #e0d289 12px);
  /* make the figure background take up all the figure space*/
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* IMPORTANT NEEDS CHANGE */
figure:has(table) {
  /* will have to do with jquery,
  $("p:has(img)") */
}
/* IMPORTANT NEEDS CHANGE */

figure > figcaption {
  font-family: "milho" ;
  font-size: 2vw;
  text-align: justify;

  width: 100%;
}

figure > figcaption > small {
    /* make the text 0.5 viewport width smaller */
    font-size: 1.5vw;
}

/*-------------Figures: Images-------------*/

figure > img {
  /* make the image round */
  border-radius: 50%;
  /* create a border that works as a shadow */
  box-shadow: 0 0 0 2vw #e0d289;
  /* make the colors rotate as a gradient through the color wheel */
  animation: colorRotate 10s  infinite;

  /* image takes up 80 percent of the figure width. */
  width: 80%;
  /* for taller than average images, restrict. */
  max-height: 50vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

/*--------------Figures: Videos--------------*/

figure > video {
  /* make the image round */
  border-radius: 50%;
  /* create a border that works as a shadow */
  box-shadow: 0 0 0 2vw #e0d289;
  /* make the colors rotate as a gradient through the color wheel */
  animation: colorRotate 10s  infinite;

  /* image takes up 80 percent of the figure width. */
  width: 80%;
  /* for taller than average images, restrict. */
  max-height: 50vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

/*--------------Figures: Tables--------------*/

figure > table {
  width: ;
  font-family: ;
  font-size: ;
  overflow: ;
}

th {
  font-family: ;
  font-size: ;
}

td {
    padding:;
    border: ;
    }

td:first-child {
    text-align: ;
    font-weight: ;
    overflow: ;
    position: ;
    }

td:last-child {
    text-align:;
}

section > figure > table {
   width: %;
   table-layout: ;
   font-family: ;
   font-size: ;
   border: ;
   border-collapse: ;
}

section > figure > table  th {
   font-family: ;
   font-size: ;
   border: ;
}

section > figure > table  td {
   border: ;
}

/*-------------------------------Lists-------------------------------- */

section > ol {
  width: ;
  list-style-type: ;
  border: ;

  padding-left: ;

  font-family: ;
  font-size: ;
  text-align: ;

  margin-top: ;
  padding-top: ;

  margin-bottom: ;
  padding-bottom: ;
}

section > ol > li {
  margin: ;
  border-bottom: ;
}

section > ol > li > em {
  font-family: ;
  text-transform: ;
}

section > ul {
  width: ;
  border: ;

  padding-left: ;

  font-family: ;
  font-size: ;
  text-align: ;

  margin-top: ;
  padding-top: ;

  margin-bottom: ;
  padding-bottom: ;
}

li > small {
  font-size: ;
}

/*------------------------------Footer------------------------------- */

footer {
  width: ;
  background: url("../../img/bg/tpbg/aplant.png");
  background-size: cover;
  background-position: left;
}

footer > ul > li {
  font-size: ;
  text-align: ;
}

footer > ul > li > a {
  font-size: ;
  text-align: ;
}

/*-----------------------------Animations------------------------------ */

/* Psychedelic CSS Filter Animations - A PEN BY Luke Andersen*/
@keyframes colorRotate {
 100% {
   -webkit-filter: hue-rotate(-360deg);
 }
}

/*-----------------------------MEDIA SMALL SCREEN------------------------------ */

@media screen and (max-width: 600px) {
  .section {
    width: 100%;
  }
}
