/* use jquery clone() method for text/titles*/
/* use css box-shadow for images*/
/* add tropicalia music */

/* red #A02818
red coral #B5493F
yellow #D5D74B
orange #C18842
grey 	#7F7E69

bright orange #E9542C
dark orange 	#ED4F31
brighter yellow #F8B729
green #56853F

desafio yellow 	#F1DA02
desafio grey #515851
defatio light grey #9B9B93

light black #302D2E

*/

/*--------------Fonts--------------*/

/********AZEDO********/
/* azedo-bold */
@font-face {
    font-family: azedo-bold;
    src: url("../../fonts/tropicalia/Azedo-Bold.otf") format("opentype");
}

/* azedo-light */
@font-face {
    font-family: azedo-light;
    src: url("../../fonts/tropicalia/Azedo-Light.otf") format("opentype");
}

/********BOOMTOWN DECO********/
/* boomtown-deco */
@font-face {
    font-family: boomtown-deco;
    src: url("../../fonts/tropicalia/Boomtown-deco.otf") format("opentype");
}

/********DOGSMOKE********/
/* dogsmoke */
@font-face {
    font-family: dogsmoke;
    src: url("../../fonts/tropicalia/Dogsmoke.ttf") format("opentype");
}

/* dogsmoke-ii */
@font-face {
    font-family: dogsmoke-ii;
    src: url("../../fonts/tropicalia/Dogsmoke-II.ttf") format("opentype");
}

/* dogsmoke-thunder-ii */
@font-face {
    font-family: dogsmoke-thunder-ii;
    src: url("../../fonts/tropicalia/Dogsmoke-Thunder-II.ttf") format("opentype");
}

/* dogsmoke-thunder */
@font-face {
    font-family: dogsmoke-thunder;
    src: url("../../fonts/tropicalia/Dogsmoke-Thunder.ttf") format("opentype");
}

/* dogsmoke-ii */
@font-face {
    font-family: dogsmoke-ii;
    src: url("../../fonts/tropicalia/Dogsmoke-II.ttf") format("opentype");
}

/********OTHER********/
/* tropicalia */
@font-face {
    font-family: tropicalia;
    src: url("../../fonts/tropicalia/Tropicalia-Brush.ttf") format("opentype");
}

/* ostrichsans-medium-heavy */
@font-face {
    font-family: ostrichsans-medium-heavy;
    src: url("../../fonts/tropicalia/ostrichsans-medium-webfont.ttf") format("opentype");
}

/* village */
@font-face {
    font-family: village;
    src: url("../../fonts/tropicalia/Village.ttf") format("opentype");
}

/* flames */
@font-face {
    font-family: flames;
    src: url("../../fonts/tropicalia/Flames.ttf") format("opentype");
}

/* beamie */
@font-face {
    font-family: beamie;
    src: url("../../fonts/tropicalia/beamie.ttf") format("opentype");
}

/* ftact */
@font-face {
    font-family: ftact;
    src: url("../../fonts/tropicalia/Ftact.ttf") format("opentype");
}

/* lettersinthehands */
@font-face {
    font-family: lettersinthehands;
    src: url("../../fonts/tropicalia/Lettersinthehands.ttf") format("opentype");
}

/* pseudolux-regular */
@font-face {
    font-family: pseudolux-regular;
    src: url("../../fonts/tropicalia/Pseudolux-Regular.ttf") format("opentype");
}

/* pseudolux */
@font-face {
    font-family: pseudolux;
    src: url("../../fonts/tropicalia/Pseudolux.ttf") format("opentype");
}

/* yoxall */
@font-face {
    font-family: yoxall;
    src: url("../../fonts/tropicalia/Yoxall.ttf") format("opentype");
}

/* ipanema */
@font-face {
    font-family: ipanema;
    src: url("../../fonts/tropicalia/Ipanema-Secco.ttf") format("opentype");
}

/* milho */
@font-face {
    font-family: milho;
    src: url("../../fonts/tropicalia/Milho-Cozido.ttf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

/*--------------General Structure--------------*/

html {
  background: url("../../img/bg/tpbg/plantbacksmall.png");
  background-position: left;

}

body {
  color: black;
  font-family: "Arial";
  /* max-height: 200vw;
  overflow-y: hidden; */
  padding-left: 0;
  padding-right: 0;
}

header {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  top: 0;
  padding-bottom: 0;
}

article {
  padding-left: 12vw;
}
header > section > p { /* this is for the EU one */
  font-family: "flames";
  font-size: ;
  font-weight: ;
  line-height: ;
  text-align: ;
  text-transform: ;

  margin-top: ;
  padding-top: ;

  margin-bottom: ;
  padding-bottom: ;
  border-bottom: ;
}

header > p {
  font-family: "pseudolux";
  font-size: 3.7vw;
  font-weight: ;
  display: blo

  margin-top: 4vh;
  margin-left: 2vw;
  padding-top: ;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: ;
}

header > p > a {
  font-family: ;
  font-size: ;
  font-weight: ;
  line-height: ;
  text-align: ;
  text-transform: ;
  letter-spacing: ;
  color: ;
}

header > p > a:hover {
  font-family: ;
  font-size: ;
  color: ;
}

h1 {
  width: 100%;

  font-family: "dogsmoke";
  font-size: 17vw;
  text-align: left;
  line-height: 10vw;
  text-transform: lowercase;

  bottom: 0vw;
  margin-bottom: 0vw;
  padding-bottom: 0vw;
  padding-top: 10vw;

  color: ;
  background: url("../../img/bg/llew/tropheader.jpg");
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

  transform: rotate(180deg);
}

h2 {
  display: block;
  font-family: 'yoxall', sans-serif;
  font-size: 7.5vw;
  width: 50%;
  float: right;
  color: #c43950;
  line-height: ;
  text-align: right;
  text-transform: ;

  display: block;
  margin-top: 1vh;
  padding-top: 1vh;

  margin-bottom: 0;
  padding-bottom: 0;

  color: ;
  text-shadow:
  0 0 3px #c43950,
  0 0  6px #c43950,
  0 0  9px #c43950;
  writing-mode: ;
  background-color: #ab5462;

}


h2:hover {
  color: 	white;

}

h3 {
  display: block;
  font-family: 'milho';
  font-size: 6vw;
  font-weight: 500;
  color: 	#F9E04E;
  text-align: left;
  text-transform: uppercase;

  margin-top: 0;
  padding-top: 2vw;
  padding-left: 2vw;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  writing-mode: ;
  background-color: #ab5462;
}

h3:hover {
  color: 	#FE536B;
}

section {
  /* border-bottom: 1vw dotted black; */
}

h4 {
  font-family: "beamie";
  font-size: 9vw;
  font-weight: 100;
  text-align: right;
  text-transform: ;


  background-size: 24px 24px;
  background-color: #fff;
  background-image: repeating-radial-gradient( black 8px, white 12px);
}

h4:hover {
  animation: cells 0.4s linear infinite;
  direction: rtl;
  unicode-bidi: bidi-override;
}


article p {
  font-family: 'ostrichsans-medium-heavy';
  text-transform: uppercase;
  font-size: 2vw;
}

p > em {
  font-family: 'Gothic A1', sans-serif;
  font-size: ; /* no italics */
  font-style: ;
  text-transform: ;
}

a {
  font-family: ;
  font-size: ;
  text-transform: ;
  text-decoration: ;
  color: ;
}

a:hover {
  font-family: ;
  font-size: ;
}

q {
  font-family: ;
  font-size: ;
  text-align: ;
}

small {
  font-size: ;
}

/*--------------First Figure--------------*/

figure:first-child {
  padding-top: ;
  padding-bottom: ;
  border-top: ;
  border-bottom: ;
  background-repeat: ;
  background-position: ;
  background-size: ;
  display: none !important;
}

figure:first-child img {
  width: ; /* use percentage of the figure box width */
  border-radius:;
  /* transition: all .2s ease-in-out; */
  margin-bottom: ;
  /* animation-name: vanishIn !important; */
  display: ;
}

figure:first-child img:hover {
  /* transform: scale(1.1); */
}

/*--------------Figures--------------*/

figure {
  width: ;
  margin: ;
  padding-left: ;
  padding-right: ;
  padding-top: ;
  padding-bottom: ;
  background-repeat: ;
  background-position: ;
  background-size: ;

  float:center;

}

figure:has(table) {
  background-image: ;
  background-size: ;
  /* will have to do with jquery,
  $("p:has(img)") */
}

figure:last-child {
  border-bottom: ; /* because sections have upper borders, erase the bottom border of the last figure of a section or body*/
}

figure > figcaption {
  font-family: "azedo-bold" ;
  width: 50%;
  padding-top: ;
  font-size: 3vw;
  text-align: justify;
}

figure > figcaption > em {
  font-family: ;
  font-size: ;
}

figure > figcaption > small {
  font-family: ;
  font-size: ;
}

/*--------------Figures: Images--------------*/

figure > img {
  display: ;
  position: ;
  width: 45%;

  overflow: ;
  border-radius: 50%;
  float: left;
  animation: colorRotate 10s  infinite;
  border-radius: 50%;
  border-color: ;
  box-shadow: 0px    0px 0 3vw #F1DA02;
	/* box-shadow: 220px    0px 0  -70px green,
				-160px  104px 0   -70px red,
				-60px -104px 0 -100px yellow; */
  margin-top: 5vh;
  margin-bottom: 5vh;
  saturate: 600%;
  float: left;
  align-self: left;
}

/*--------------Figures: Videos--------------*/

figure > video {
  width: ; /* use percentage of the figure box width */
  margin: ;
  padding: ;
  border-radius: ;
  filter: ;
}

/*--------------Figures: Tables--------------*/

figure > table {
  width: ;
  font-family: ;
  font-size: ;
  overflow: ;
}

th {
  font-family: ;
  font-size: ;
}

td {
    padding:;
    border: ;
    }

td:first-child {
    text-align: ;
    font-weight: ;
    overflow: ;
    position: ;
    }

td:last-child {
    text-align:;
}

section > figure > table {
   width: %;
   table-layout: ;
   font-family: ;
   font-size: ;
   border: ;
   border-collapse: ;
}

section > figure > table  th {
   font-family: ;
   font-size: ;
   border: ;
}

section > figure > table  td {
   border: ;
}

/*--------------Lists--------------*/

section > ol {
  width: ;
  list-style-type: ;
  border: ;

  padding-left: ;

  font-family: ;
  font-size: ;
  text-align: ;

  margin-top: ;
  padding-top: ;

  margin-bottom: ;
  padding-bottom: ;
}

section > ol > li {
  margin: ;
  border-bottom: ;
}

section > ol > li > em {
  font-family: ;
  text-transform: ;
}

section > ul {
  width: ;
  border: ;

  padding-left: ;

  font-family: ;
  font-size: ;
  text-align: ;

  margin-top: ;
  padding-top: ;

  margin-bottom: ;
  padding-bottom: ;
}

li > small {
  font-size: ;
}

/*--------------Footer--------------*/

footer {
  width: ;
}

footer > ul > li {
  font-size: ;
  text-align: ;
}

footer > ul > li > a {
  font-size: ;
  text-align: ;
}






/* animations */

/* Psychedelic CSS Filter Animations - A PEN BY Luke Andersen*/
@keyframes colorRotate {
 100% {
   -webkit-filter: hue-rotate(-360deg);
 }
}


/* CSS3 trippy psychedelic cube - http://cssdeck.com/labs/css3-trippy-psychedelic-cube */

@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -o-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -ms-transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}

 #container {
  margin-top: 25%;
  -webkit-perspective : 1000px;
  -moz-perspective    : 1000px;
  -o-perspective      : 1000px;
  -ms-perspective     : 1000px;
  perspective         : 1000px;

  -webkit-perspective-origin  : 50% 50%;
  -moz-perspective-origin     : 50% 50%;
  -moz-transform-origin       : 50% 50%;
  -o-perspective-origin       : 50% 50%;
  -ms-perspective-origin      : 50% 50%;
  perspective-origin          : 50% 50%;
 }

.animate {
  -webkit-animation : spinningH 6s infinite linear;
  -moz-animation    : spinningH 6s infinite linear;
  -o-animation      : spinningH 6s infinite linear;
  -ms-animation     : spinningH 6s infinite linear;
  animation         : spinningH 6s infinite linear;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;

  -webkit-transition  : -webkit-transform 2s linear;
  -moz-transition     : -moz-transform 2s linear;
  -o-transition       : -o-transform 2s linear;
  -ms-transition      : -ms-transform 2s linear;
  transition          : transform 2s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  opacity: 0.9;
  background-position:center center;
}

#cube div:nth-child(1) {
  -webkit-transform : translateZ(200px);
  -moz-transform    : translateZ(200px);
  -o-transform      : translateZ(200px);
  -ms-transform     : translateZ(200px);
  transform         : translateZ(200px);
  background-color  : #2E272F;
  background-image: url("../../docs/huffington/image1.jpg");
  background-repeat : no-repeat;
}

#cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(200px);
  -moz-transform    : rotateY(90deg) translateZ(200px);
  -o-transform      : rotateY(90deg) translateZ(200px);
  -ms-transform     : rotateY(90deg) translateZ(200px);
  transform         : rotateY(90deg) translateZ(200px);
  background-color  : #2D3A4D;
  background-image: url("../../docs/huffington/image2.jpg");
  background-repeat : no-repeat;
}

#cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(200px);
  -moz-transform    : rotateY(180deg) translateZ(200px);
  -o-transform      : rotateY(180deg) translateZ(200px);
  -ms-transform     : rotateY(180deg) translateZ(200px);
  transform         : rotateY(180deg) translateZ(200px);
  background-color  : #2D1C12;
  background-image: url("../../docs/huffington/image3.jpg");
  background-repeat : no-repeat;
}

#cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(200px);
  -moz-transform    : rotateY(-90deg) translateZ(200px);
  -o-transform      : rotateY(-90deg) translateZ(200px);
  -ms-transform     : rotateY(-90deg) translateZ(200px);
  transform         : rotateY(-90deg) translateZ(200px);
  background-color  : #693C1F;
  background-image: url("../../docs/huffington/image4.jpg");
  background-repeat : no-repeat;
}

#cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(200px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(200px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(200px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(200px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(200px) rotate(180deg);
  background-color  : #955122;
  background-image: url("../../docs/huffington/image5.jpg");
  background-repeat :no-repeat;
}

#cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(200px);
  -moz-transform    : rotateX(90deg) translateZ(200px);
  -o-transform      : rotateX(90deg) translateZ(200px);
  -ms-transform     : rotateX(90deg) translateZ(200px);
  transform         : rotateX(90deg) translateZ(200px);
  background-color  : #E34C26;
  background-image: url("../../docs/huffington/image6.jpg");
  background-repeat :no-repeat;
  text-align:center;
}
