/* fix japan graph image */
/* fix quotes -- delete automatic quotation marks */
/* fix background image decoration, delete from tables */



/*--------------Fonts--------------*/

/********BODONI********/
/* bodoni-bold */ /* USED IN: body; p */
@font-face {
    font-family: bodoni-bold;
    src: url("../../fonts/vp/BodoniFLF-Bold.ttf") format("opentype");
}
/* bodoni-italic */
@font-face {
    font-family: bodoni-italic;
    src: url("../../fonts/vp/BodoniFLF-Italic.ttf") format("opentype");
}
/* bodoni-roman  */
@font-face {
    font-family: bodoni-roman;
    src: url("../../fonts/vp/BodoniFLF-Roman.ttf") format("opentype");
}

/********EGYPTIENNE********/
/* egyptienne-zierversalien */ /* NO NUMBERS*/
@font-face {
    font-family: egyptienne-zierversalien;
    src: url("../../fonts/vp/Egyptienne-Zierversalien.ttf") format("opentype");
}
/* fette-egyptienne */ /* USED IN: header>p */
@font-face {
    font-family: fette-egyptienne;
    src: url("../../fonts/vp/Fette-Egyptienne.ttf") format("opentype");
}
/* toskanische-egyptienneInitialen */ /* NO NUMBERS*/
@font-face {
    font-family: toskanische-egyptienneInitialen;
    src: url("../../fonts/vp/ToskanischeEgyptienneInitialen.ttf") format("opentype");
}
/* plastische-plakat-antiqua */ /* USED IN: h2; a:hover */
@font-face {
    font-family: plastische-plakat-antiqua;
    src: url("../../fonts/vp/Plastische-Plakat-Antiqua.ttf") format("opentype");
}
/* cairotiqua-light */
@font-face {
    font-family: cairotiqua-light;
    src: url("../../fonts/vp/Cairotiqua-Light.ttf.ttf") format("opentype");
}

/********SLAB SERIF********/
/* klein-slabserif */ /* USED IN: p>em; a */
@font-face {
    font-family: klein-slabserif;
    src: url("../../fonts/vp/Klein-Slabserif.ttf") format("opentype");
}

/********SEMPLICITA********/
/* semplicita-bold-italic */
@font-face {
    font-family: semplicita-bold-italic;
    src: url("../../fonts/vp/Semplicita-Bold-Italic.otf") format("opentype");
}
/* semplicita-bold */
@font-face {
    font-family: semplicita-bold;
    src: url("../../fonts/vp/Semplicita-Bold.otf") format("opentype");
}
/* semplicita-light-italic */
@font-face {
    font-family: semplicita-light-italic;
    src: url("../../fonts/vp/Semplicita-Light-Italic.otf") format("opentype");
}
/* semplicita-light */
@font-face {
    font-family: semplicita-light;
    src: url("../../fonts/vp/Semplicita-Light.otf") format("opentype");
}
/* semplicita-medium-italic */
@font-face {
    font-family: semplicita-medium-italic;
    src: url("../../fonts/vp/Semplicita-Medium-Italic.otf") format("opentype");
}
/* semplicita-medium */
@font-face {
    font-family: semplicita-medium;
    src: url("../../fonts/vp/Semplicita-Medium.otf") format("opentype");
}
/* semplicita-ombra */ /* USED IN: header>section>p; h4 */
@font-face {
    font-family: semplicita-ombra;
    src: url("../../fonts/vp/Semplicita-Ombra.otf") format("opentype");
}

/********OTHER********/
/* vineta-regular */ /* USED IN: h1; q */
@font-face {
    font-family: vineta-regular;
    src: url("../../fonts/vp/Vineta-Regular.ttf") format("opentype");
}
/* woodcut */ /* USED IN: header>p>a */
@font-face {
    font-family: woodcut;
    src: url("../../fonts/vp/Woodcut.ttf") format("opentype");
}
/* jfringmaster */ /* USED IN: h3 */
@font-face {
    font-family: jfringmaster;
    src: url("../../fonts/vp/JFRingmaster.ttf") format("opentype");
}


/*--------------General Structure--------------*/

html {
  background-image: url("../../img/bg/papersmall.png");
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

body {
  color: black;
  font-family: "bodoni-bold";
  height: 100vh; /* the style requires an infinite scroll type of interaction, as the original docs were very long*/
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

header {
  width: 100%;
}

header > section > p {
  font-family: "semplicita-ombra";
  font-size: 3.2vw;
  font-weight: 500;
  line-height: 1vh;
  text-align: center;
  text-transform: uppercase;

  margin-top: 1vh;
  padding-top: 2vh;

  margin-bottom: 1vh;
  padding-bottom: 2vh;
  border-bottom: 0.3vh solid black;
}

header > p {
  font-family: "fette-egyptienne";
  font-size: 2.7vw;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-justify: inter-character;
  letter-spacing: 1.5vw;

  margin-top: 1vh;
  padding-top: 2vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-bottom: 0.3vh solid black;
}

header > p > a {
  font-family: "woodcut";
  font-size: 5vw;
  font-weight: 100;
  line-height: 3vh;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  color: red;
}

header > p > a:hover {
  font-family: "woodcut";
  font-size: 5.2vw;
  color: black;
}

h1 {
  font-family: "vineta-regular";
  font-size: 6vw;
  font-weight: 500;
  line-height: 0.85em;
  text-align: center;
  text-transform: uppercase;

  margin-top: 1vh;
  padding-top: 1vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-bottom: 0.5vh dotted black;
}

h2 {
  font-family: "plastische-plakat-antiqua";
  font-size: 9vw;
  font-weight: 400;
  line-height: 0.9em;
  text-align: center;
  text-transform: uppercase;

  margin-top: 1vh;
  padding-top: 1vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-bottom: 1vh double black;
}

h2:hover {
  font-size: 12vw;
}

h3 {
  font-family: "jfringmaster";
  font-size: 4vw;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;

  margin-top: 1vh;
  padding-top: 0vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-bottom: 0.5vh double black;
}

section {
  border-top: 3vh double black;
}

h4 {
  font-family: "semplicita-ombra";
  font-size: 11vw;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;

  margin-top: 1vh;
  padding-top: 0vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;

  background-image: url("../../img/bg/decleft0.png"), url("../../img/bg/decright0.png");
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 10%;
}

p:last-child {
  border-bottom: none; /* because sections have upper borders, erase the bottom border of the last paragraph of a section or body*/
}

p {
  font-family: "bodoni-bold";
  font-size: 2vw;
  text-align: justify;

  margin-top: 1vh;
  padding-top: 0vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-bottom: 0.7vh double black; /* all paragraphs except the last one (see above) have a bottom border*/
}

p > em {
  font-family: "klein-slabserif";
  font-size: 4vw; /* no italics */
  font-style: normal;
  text-transform: uppercase;
}

a {
  font-family: "klein-slabserif";
  font-size: 3vw;
  text-transform: uppercase;
  text-decoration: none; /* take out the automatic underlining */
  color: red;
}

a:hover {
  font-family: "plastische-plakat-antiqua";
  font-size: 5vw;
}

q {
  font-family: "vineta-regular";
  font-size: 3.5vw;
  text-align: justify;
}

q:before, q:after {
  content:''
}

small {
  font-size: 1vw;
}

/*--------------First Figure--------------*/

body > figure {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
  background-image: url("../../img/bg/decleft1.png"), url("../../img/bg/decright1.png");
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 25%;
}

body > figure figcaption {
  display: none;
}

body > figure img {
  width: 50%; /* use percentage of the figure box width */
  border-radius: 10%;
  max-height: 70vh;
  transition: all .2s ease-in-out;
  float: none;
}

body > figure img:hover {
  transform: scale(1.1);
}

/*--------------Figures--------------*/

figure {
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 0.5vh dotted black;
  background-image: url("../../img/bg/decleft.png"), url("../../img/bg/decright.png");
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: 25%;
}

figure:has(table) {
  background-image: none;
  background-size: 0;
  /* will have to do with jquery,
  $("p:has(img)") */
}

figure:last-child {
  border-bottom: none; /* because sections have upper borders, erase the bottom border of the last figure of a section or body*/
}

figure > figcaption {
  font-family: "semplicita-ombra";
  width: 100%;
  padding-top: 2vh;
  font-size: 2vw;
  text-align: justify;
}

figure > figcaption > em {
  font-family: "toskanische-egyptienneInitialen";
  font-size: 2vw;
}

figure > figcaption > small {
  font-family: "semplicita-medium";
  font-size: 2vw;
}

/*--------------Figures: Images--------------*/

figure > img {
  width: 50%;
  margin: 0;
  padding: 0;
  border-radius: 40%;
  filter: sepia();
}

/*--------------Figures: Videos--------------*/

figure > video {
  width: 50%; /* use percentage of the figure box width */
  margin: 0;
  padding: 0;
  border-radius: 40%;
  filter: sepia();
}

/*--------------Figures: Tables--------------*/

figure > table {
  width: 100%;
  font-family: "semplicita-medium";
  font-size: 3vw;
  overflow: scroll;
}

th {
  font-family: "toskanische-egyptienneInitialen";
  font-size: 6vw;
}

td {
    padding:1em 0 0 0;
    border: 0.3vw solid black;
    }

td:first-child {
    text-align: left;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    }

td:last-child {
    text-align:right;
}

section > figure > table {
   width: 100%;
   table-layout: fixed;
   font-family: "semplicita-medium";
   font-size: 2vw;
   border: 4px dashed black;
   border-collapse: collapse;
}

section > figure > table  th {
   font-family: "fette-egyptienne";
   font-size: 2vw;
   border: 2px solid black;
}

section > figure > table  td {
   border: 2px dotted black;
}

/*--------------Lists--------------*/

section > ol {

  font-family: "bodoni-bold";
  font-size: 2vw;
  list-style-type: upper-roman;
  border: 4px dashed black;

  text-align: justify;
  width: 89%;
  padding-left: 10%;
  margin-top: 1vh;
  padding-top: 0vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;
}

section > ol > li {
  margin: 5px;
  border-bottom: 0.7vh solid black;
}

section > ol > li > em {
  font-family: "fette-egyptienne";
  text-transform: uppercase;
}

section > ul {
  width: 89%;
  border: 4px dashed black;

  padding-left: 10%;
  font-family: "bodoni-bold";
  font-size: 2vw;
  text-align: justify;

  margin-top: 1vh;
  padding-top: 0vh;

  margin-bottom: 1vh;
  padding-bottom: 1vh;
}

li > small {
  font-size: 2vw;
}

/*--------------Footer--------------*/

footer {
  width: 100%;
}

footer > ul > li {
  font-size: 2vw;
  text-align: justify;
}

footer > ul > li > a {
  font-size: 2vw;
  text-align: justify;
}
