/* check out first-child and nth-child pseudoclasses. These will be very helpful
to define special characteristics of certain elemens, since we cannot use classes or ids. */


/* learn fittext.js*/
/* learn circletype.js */
/* */
/* */
/* */


@import url('https://fonts.googleapis.com/css?family=Poiret+One');


/* Bodoni  */
@font-face {
    font-family: bodoni-bold;
    src: url("../../fonts/vp/BodoniFLF-Bold.ttf") format("opentype");
}
@font-face {
    font-family: bodoni-italic;
    src: url("../../fonts/vp/BodoniFLF-Italic.ttf") format("opentype");
}
@font-face {
    font-family: bodoni-roman;
    src: url("../../fonts/vp/BodoniFLF-Roman.ttf") format("opentype");
}

/* Egyptienne  */
@font-face {
    font-family: egyptienne-zierversalien;
    src: url("../../fonts/vp/Egyptienne-Zierversalien.ttf") format("opentype");
}
@font-face {
    font-family: fette-egyptienne;
    src: url("../../fonts/vp/Fette-Egyptienne.ttf") format("opentype");
}
@font-face {
    font-family: toskanische-egyptienneInitialen;
    src: url("../../fonts/vp/ToskanischeEgyptienneInitialen.ttf") format("opentype");
}
@font-face {
    font-family: plastische-plakat-antiqua;
    src: url("../../fonts/vp/Plastische-Plakat-Antiqua.ttf") format("opentype");
}
@font-face {
    font-family: cairotiqua-light;
    src: url("../../fonts/vp/Cairotiqua-Light.ttf.ttf") format("opentype");
}


html {
  background-image: url("../../img/bg/paper3.jpg");
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  margin-right: 10vw;
  align-items: center;
}

body {
  font-family: "bodoni-bold";
  color: black;
  height: 100vh; /* the style requires an infinite scroll type of interaction, as the original docs were very long*/
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr; */
}

h1 {
  font-family: "egyptienne-zierversalien";
  font-size: 10vw;
  text-transform: uppercase;/* whatever number size you choose, but rem */
  font-style: ;
  margin: ;
  padding: ;
}

h2 {
  font-family: "fette-egyptienne";
  font-size: 4.6vw; /* whatever number size you choose, but rem */
  text-transform: uppercase;/* whatever number size you choose, but rem */
  font-style: ;
  margin: ;
  padding: ;
  width: ;
  text-align: justify;
  text-justify: inter-character;
}

h3 {
  font-family: "toskanische-egyptienneInitialen";
  font-size: 4vw; /* whatever number size you choose, but rem */
  text-transform: uppercase;/* whatever number size you choose, but rem */
  font-style: ;
  padding: ;
  text-align: justify;
  text-justify: inter-character;
  letter-spacing: 0.7vw;
}

h4 {
  font-family: "plastische-plakat-antiqua";
  font-size: 4vw; /* whatever number size you choose, but rem */
  font-style: ;
  text-transform: uppercase;/* whatever number size you choose, but rem */
  margin: 0;
  padding: 0;
}

h5 {
  font-family: ;
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  margin: ;
  padding: ;
}

h6 {
  font-family: ;
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  margin: ;
  padding: ;
}

p {
  font-family: "bodoni-bold";
  text-align: justify;
  font-size: 3vw; /* whatever number size you choose, but rem */
  text-transform: uppercase;
  font-style: ;
  margin: 0;
  margin-top: 3vh;
  padding: 0;
}

p:first-of-type {
  font-family: ;
  text-align: justify;
  font-size: 3vw; /* whatever number size you choose, but rem */
  font-style: ;
  margin: ;
  padding: ;
}

em {
  font-family: "plastische-plakat-antiqua";
  font-size: 4rem; /* whatever number size you choose, but rem */
  font-style: ;
  padding: ;
}

small {
  font-family: ;
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  padding: ;
}

q {
  font-family: ;
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  padding: ;
}

a {
  font-family: ;
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  padding: ;
}

a:hover {
  font-family: ;
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  padding: ;
}

header { /* example of a header that we want in the center of the page */
  /* position: absolute; */
  /* top: 50%; /* this positions the header at the vertical center  */
  /* left: 50%; /* this positions the header at the horizontal center  */
  /* transform: translate(-50%, -50%); */
  /* text-align: center */
}

section {
  /* border-top: 1rem double #f7f7f7;  three values: thickness, styling, color */
  border-bottom: ;
  border-left: ;
  border-right: ;
  padding-top: ;
  padding-bottom: ;
  padding-left: ;
  padding-right: ;
}

figure {
  width: 100%; /* use percentage of viewwidth */
  margin: 0;
  padding: 0;
}

figure > figcaption {
  width: 100%;
  font-family: ;
  font-family: "bodoni-italic";
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  padding: 0;
}

figure > figcaption > em {
  font-family: ;
  font-size: 1rem; /* whatever number size you choose, but rem */
  font-style: ;
  padding: ;
}


figure > img {
  width: 100%; /* use percentage of the figure box width */
  margin: 0;
  padding: 0;
  border-radius: 50%;
  filter: sepia();
}

img:first-of-type {
  width: 100%; /* use percentage of the figure box width */
  border-radius: 0%;
  margin-right: 0%
  padding: 0;
}

figure > video {
  width: 80%; /* use percentage of the figure box width */
  margin: 0;
  padding: 0;
}

figure > table {
  font-family: ;
  font-size: ;
  font-style: ;
  width: 80%; /* use percentage of the figure box width */
  border-top: ;
  border-bottom: ;
  border-left: ;
  border-right: ;
  padding-top: ;
  padding-bottom: ;
  padding-left: ;
  padding-right: ;
}

figure > table > th {
  font-size: ;
  font-weight: ;
  border-top: ;
  border-bottom: ;
  border-left: ;
  border-right: ;
  padding-top: ;
  padding-bottom: ;
  padding-left: ;
  padding-right: ;
}

figure > table > tr {
  border-top: ;
  border-bottom: ;
  border-left: ;
  border-right: ;
  padding-top: ;
  padding-bottom: ;
  padding-left: ;
  padding-right: ;
}

figure > table > tr > td:first-child { /* use this to style the first column of a table */
}

figure > table > tr > td:nth-child(n) { /* use this to style the n-th column of a table */
}

ul {
  width: 90%; /* use percentage of viewwidth */
  padding: 0;
  text-indent: 2rem;
  list-style-type: none; /* no symbol before each list element */
}

ul > li {
}

ul > li:before {
  content: "--"; /* choose your own symbol before each list element */
  padding-right: 5px;
}

ol {
  width: 90%; /* use percentage of viewwidth */
  padding: 0;
  list-style-type: upper-roman;
}

ol > li {
}

ol > li > ol {
  list-style-type: decimal;
}

ol > li > ol > li {
}

footer {
  padding-top: ;
  border-top: ;
}
